/* Icons */
.icon-xl {
    font-size: 3.8rem;
}

.icon-lx {
    font-size: 2.8rem;
}

.icon-ls {
    font-size: 2.2rem;
}

.icon-lg {
    font-size: 1.8rem;
}

.icon-slg {
    font-size: 1.5rem;
}

.icon-md {
    font-size: 1.3rem;
}

.icon-sm {
    font-size: 1.1rem;
}

/* Texto */
.fs-26 {
    font-size: 26px;
}

.fs-24 {
    font-size: 24px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-17 {
    font-size: 17px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.fs-11 {
    font-size: 11px;
}